<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/alchemy.min.css">
  
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript" src="/js/alchemy.min.js">
	<script type="text/javascript">
		$(function() {
			$.ajax({
				type: "POST",  
			    url: "http://localhost:7474/db/data/transaction/commit",  
			    dataType: "json",  
			    contentType: "application/json;charset=UTF-8",  
			    data: JSON.stringify({"statements": [{"statement": "MATCH (n) OPTIONAL MATCH (n)-[r]-() RETURN n,r"}]}),
			    beforeSend: function(xhr) {
						xhr.setRequestHeader ("Authorization", "Basic " + btoa("neo4j"+ ":" + "password"));
			    },
			    success: function (data, textStatus, jqXHR) {  
			    	alchemy.begin({
			            dataSource: neo4jtoD3Format(data),
			            nodeCaption: 'name',
			            nodeMouseOver: 'name',
			            cluster: true,
			            clusterColours: ["#1B9E77","#D95F02","#7570B3","#E7298A","#66A61E","#E6AB02"]});  
			    },  
			    error: function (jqXHR, textStatus, errorThrown) {  
			        alert("Error");  
			    }  
			});
		});
		
		function idIndex(a,id) {
			for (var i=0;i<a.length;i++) {
				if (a[i].id == id) return i;
			}
			return null;
		}
		
		function neo4jtoD3Format(res) {
			var nodes=[], links=[];
			res.results[0].data.forEach(function (row) {
			   row.graph.nodes.forEach(function (n) {
			     if (idIndex(nodes,n.id) == null)
			       nodes.push({id:n.id,label:n.labels[0],title:n.properties.name});
			   });
			   links = links.concat( row.graph.relationships.map(function(r) {
			     return {start:idIndex(nodes,r.startNode),end:idIndex(nodes,r.endNode),type:r.type};
			   }));
			});
			viz = {nodes:nodes, links:links};
			return viz;
		}
	</script>
</head>

<body>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
  <nav class="navbar bg-primary navbar-dark" style="position: fixed; width: 100%; z-index: 1;">
    <div class="container"> <a class="navbar-brand" href="/bee/top">
        <i class="fa d-inline fa-lg fa-circle"></i>
        <b>Bee<br></b>
      </a> </div>
  </nav>
  <div class="py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="sidebar-nav affix" style="height: 100%">
            <ul class="list-group">
              <li class=" border-0 list-group-item d-flex justify-content-between align-items-center"> <a href="/bee/admin/userlist" style="color: #000000">USER LISTS</a> <i class="fa fa-list text-muted fa-lg"></i></li>
              <li class=" border-0 list-group-item d-flex justify-content-between align-items-center"> ANALYTICS <i class="fa fa-pie-chart text-muted fa-lg"></i></li>
              <li class=" border-0 list-group-item d-flex justify-content-between align-items-center"> SETTINGS <i class="fa fa-cog text-muted fa-lg"></i></li>
              <li class=" border-0 list-group-item d-flex justify-content-between align-items-center">
                <form th:action="@{/bee/logout}" name="logoutForm" method="post">
                  <a href="javascript:logoutForm.submit()" style="color: #000000">LOGOUT</a>
                </form>
                <i class="fa fa-sign-out text-muted fa-lg"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-10">
        	<div id="neo4jResponse">
				  </div>
       	</div>
      </div>
    </div>
  </div>
</body>

</html>