<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org" style="height: 100%">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
	<script type="text/javascript">
		$(function() {
			var config = {
	                container_id: "viz",
	                server_url: "bolt://bee2.paiza-user.cloud:7687",
	                server_user: "neo4j",
	                server_password: "password",
	                labels: {
	                    "User": {
	                     	caption: "name",
	                     	size: "pagerank",
	                      community: "community"
	                    },
	                    "Post": {
	                    	caption: "title",
	                    	size: "pagerank",
	                    	community: "community"
	                    }
	                },
	                relationships: {
	                    "FOLLOW": {
	                        caption: false,
	                        thickness: "count"
	                    },
	                    "OFFER": {
	                    	caption: false,
	                    	thickness: "count"
	                    }
	                },
	                initial_cypher: "MATCH p=(:User)-[:FOLLOW]->(:User) RETURN p"
	            }
	            var viz = new NeoVis.default(config);
	            viz.render();
		});
	</script>
</head>

<body style="height: 100%">
  <nav class="navbar bg-primary navbar-dark" style="position: fixed; width: 100%; z-index: 1;">
    <div class="container"> <a class="navbar-brand" href="/bee/top">
        <i class="fa d-inline fa-lg fa-circle"></i>
        <b>Bee<br></b>
      </a> </div>
  </nav>
  <div class="py-4" style="height: 100%">
    <div class="container-fluid" style="height: 100%;">
      <div class="row" style="height: 100%;">
        <div class="col-md-2 bg-primary">
          <div class="sidebar-nav affix">
            <ul class="list-group py-4">
              <li class="bg-primary border-0 list-group-item d-flex justify-content-between align-items-center"> <a href="/bee/admin/userlist" class="text-light">USER LISTS</a> <i class="fa fa-list text-light fa-lg"></i></li>
              <li class="bg-primary border-0 list-group-item d-flex justify-content-between align-items-center text-light"> ANALYTICS <i class="fa fa-pie-chart text-light fa-lg"></i></li>
              <li class="bg-primary border-0 list-group-item d-flex justify-content-between align-items-center text-light"> SETTINGS <i class="fa fa-cog text-light fa-lg"></i></li>
              <li class="bg-primary border-0 list-group-item d-flex justify-content-between align-items-center text-light">
                <form th:action="@{/bee/logout}" name="logoutForm" method="post">
                  <a href="javascript:logoutForm.submit()" class="text-light">LOGOUT</a>
                </form>
                <i class="fa fa-sign-out text-light fa-lg"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-10">
        	<div id="viz" style="height: 100%">
				  </div>
       	</div>
      </div>
    </div>
  </div>
</body>

</html>