<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>PostDetails</title>
</head>
<body>
	<h1>PostDetails</h1>
	<div th:object="${post}">
		<p th:text="'id : ' + *{id}"></p>
		<p th:text="'title : *{title}"></p>
		<p th:text="'text : ' + *{text}"></p>
		<p th:text="'posted : ' + *{posted}"></p>
		<p th:text="'date : ' + *{date}"></p>
		<p th:text="'URL : ' + *{url}"></p>
	</div>
	<a href="/bee/top">Top</a>
	<a href="javascript:history.back();">Back</a>
</body>
</html>