<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<h1>Profile</h1>
	<div th:object="${targetUser}">
		<p th:text="'Id : ' + *{id}"></p>
		<p th:text="'Username : ' + *{name}"></p>
		<p th:text="'Age : ' + *{age}"></p>
		<p th:text="'Location : ' + *{location}"></p>
	</div>
	<form th:action="@{/bee/follow}" method="get">
		<input type="hidden" name="fromuser" th:value="${user.name}" />
		<input type="hidden" name="touser" th:value="${targetUser.name}" />
		<div th:switch="${following}">
			<p th:case=true>
				<input type="hidden" name="release" value="false" />
				<input type="submit" value="Release" />
			</p>
			<p th:case=false>
				<input type="submit" value="Follow" />
			</p>
		</div>
	</form>
	<a href="/bee/top">Top</a>
	<a href="javascript:history.back()">Back</a>
</body>
</html>