<!DOCTYPE html>
<html xmlns:th="www.thymleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container justify-content-center"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar15">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar15">
        <ul class="navbar-nav">
          <li class="nav-item mx-2"> <a class="nav-link" href="#">Products</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#">FAQ</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link navbar-brand mr-0 text-white" href="/bee/login"><i class="fa d-inline fa-lg fa-stop-circle-o"></i>
              <b style="">Bee<br></b></a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#">About us</a> </li>
          <li class="nav-item mx-2"> <a class="nav-link" href="#">Contacts </a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">Create Account</div>
            <div class="card-body">
              <div class="col-md-12">
                <form th:action="@{/bee/regist}" th:object="${registForm}" method="post">
                  <div class="form-group"> <label>Username</label> <input type="text" class="form-control" name="username" placeholder="Username"> </div>
                  <div class="form-group"> <label>Email</label> <input type="email" class="form-control" name="email" placeholder="Email"> </div>
                  <div class="form-group"> <label>Age</label> <input type="text" class="form-control" name="age" placeholder="Age"> </div>
                  <div class="form-group"> <label>Location</label> <input type="text" class="form-control" name="location" placeholder="Location"> </div>
                  <div class="form-group"> <label>Password</label> <input type="password" class="form-control" name="password" placeholder="Password"> </div>
                  <!-- <div class="form-group"> <label>Password(Confirmation)</label> <input type="password" class="form-control" placeholder="Password(Confirmation)"> </div>  -->
                  <div align="center"><button type="submit" class="btn btn-primary">Submit</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex justify-content-between align-items-center">
          <ul class="nav d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="#">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Features</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Pricing</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">About</a> </li>
          </ul>
          <p class="mb-0 py-1">© 2014-2018 Pingendo. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>